-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: backpacker_lb3
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_benutzer`
--

DROP TABLE IF EXISTS `tbl_benutzer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_benutzer` (
  `Benutzer_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Benutzername` varchar(20) NOT NULL DEFAULT '',
  `Password` text DEFAULT NULL,
  `Vorname` varchar(20) DEFAULT NULL,
  `Name` text DEFAULT NULL,
  `Benutzergruppe` tinyint(4) DEFAULT 1,
  `erfasst` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deaktiviert` date DEFAULT '1000-01-01',
  `aktiv` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`Benutzer_ID`)
) ENGINE=MyISAM AUTO_INCREMENT=27 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci COMMENT='Mitarbeiter';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_benutzer`
--

LOCK TABLES `tbl_benutzer` WRITE;
/*!40000 ALTER TABLE `tbl_benutzer` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_benutzer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_buchung`
--

DROP TABLE IF EXISTS `tbl_buchung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_buchung` (
  `Buchungs_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Personen_FS` int(11) DEFAULT NULL,
  `Ankunft` datetime DEFAULT NULL,
  `Abreise` datetime DEFAULT NULL,
  `Land_FS` int(11) DEFAULT NULL,
  PRIMARY KEY (`Buchungs_ID`)
) ENGINE=MyISAM AUTO_INCREMENT=1087 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci COMMENT='Buchungszeilen';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_buchung`
--

LOCK TABLES `tbl_buchung` WRITE;
/*!40000 ALTER TABLE `tbl_buchung` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_buchung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_land`
--

DROP TABLE IF EXISTS `tbl_land`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_land` (
  `Land_ID` int(11) NOT NULL DEFAULT 0,
  `Land` text NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci COMMENT='enth├ñlt die L├ñndercodes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_land`
--

LOCK TABLES `tbl_land` WRITE;
/*!40000 ALTER TABLE `tbl_land` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_land` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_leistung`
--

DROP TABLE IF EXISTS `tbl_leistung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_leistung` (
  `LeistungID` int(11) NOT NULL DEFAULT 0,
  `Beschreibung` varchar(70) DEFAULT NULL,
  PRIMARY KEY (`LeistungID`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_leistung`
--

LOCK TABLES `tbl_leistung` WRITE;
/*!40000 ALTER TABLE `tbl_leistung` DISABLE KEYS */;
INSERT INTO `tbl_leistung` VALUES (1,'Zimmerreservation inklusive erste Nacht'),(2,'Zimmer Folgenacht'),(3,'Restaurant'),(4,'Bar'),(5,'Telefon'),(6,'Freizeitangebot'),(7,'Sauna');
/*!40000 ALTER TABLE `tbl_leistung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_personen`
--

DROP TABLE IF EXISTS `tbl_personen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_personen` (
  `Personen_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Titel` text DEFAULT NULL,
  `Vorname` text DEFAULT NULL,
  `Name` text DEFAULT NULL,
  `Strasse` text DEFAULT NULL,
  `PLZ` text DEFAULT NULL,
  `Ort` text DEFAULT NULL,
  `Anrede` text DEFAULT NULL,
  `Telefon` text DEFAULT NULL,
  `erfasst` datetime DEFAULT NULL,
  `Sprache` text DEFAULT NULL,
  PRIMARY KEY (`Personen_ID`)
) ENGINE=MyISAM AUTO_INCREMENT=2042 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci COMMENT='enth´┐¢lt alle G´┐¢ste';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_personen`
--

LOCK TABLES `tbl_personen` WRITE;
/*!40000 ALTER TABLE `tbl_personen` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_personen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_positionen`
--

DROP TABLE IF EXISTS `tbl_positionen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_positionen` (
  `Positions_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Buchungs_FS` int(11) DEFAULT NULL,
  `Konto` int(11) NOT NULL DEFAULT 0,
  `Anzahl` int(11) NOT NULL DEFAULT 0,
  `Preis` decimal(10,2) NOT NULL DEFAULT 0.00,
  `Rabatt` decimal(4,2) NOT NULL DEFAULT 0.00,
  `Benutzer_FS` int(11) NOT NULL DEFAULT 0,
  `erfasst` datetime NOT NULL DEFAULT '1000-01-01 00:00:00',
  `Leistung_Text` text NOT NULL,
  `Leistung_FS` int(11) DEFAULT NULL,
  PRIMARY KEY (`Positions_ID`)
) ENGINE=MyISAM AUTO_INCREMENT=4054 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci COMMENT='enth├ñlt einzelne Buchungspositionen';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_positionen`
--

LOCK TABLES `tbl_positionen` WRITE;
/*!40000 ALTER TABLE `tbl_positionen` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_positionen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'backpacker_lb3'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-05-06 16:09:58
